/* ------ Подключение шрифтов ------ */

@font-face {
  font-family: 'Natasha';
  src: url('../fonts/Natasha.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Natasha.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Natasha.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Natasha.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Natasha.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Natasha.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: url('../fonts/MuseoSansCyrl-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-100.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: url('../fonts/MuseoSansCyrl-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-300.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: url('../fonts/MuseoSansCyrl-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-500.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-500.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-500.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: url('../fonts/MuseoSansCyrl-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-700.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-700.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-700.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url('../fonts/MuseoSansCyrl-900.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-900.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* ------ Спецификация ------ */

body {
	font-family: 'MuseoSansCyrl-300', sans-serif;
	font-size: 18px;
	color: #3a3244;
	padding: 0;
	letter-spacing: 0.06em;
	margin: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 14px;
    line-height: 1.4em;
/*    margin-bottom: 1em;*/
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Museo Sans 900';
}

h1 {
	font-size: 45px;
	letter-spacing: 0.32em;
}

h2 {
	font-size: 26px;
	color: #9e96a8;
	padding-top: 84px;
	margin-bottom: 48px;
	letter-spacing: 0.1em;
}

h3 {
	color: #9e96a8;
}

h4 {
	font-size: 16px;
	letter-spacing: 0.1em;
}

h5 {
	font-size: 10px;
	letter-spacing: 0.1em;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}

.btn {
	background: #82c83d;
	color: #fff;
	border-radius: 100px;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Museo Sans 900';
	width: 204px;
	padding: 20px 0;
	display: block;
	margin: 0 auto;
}

.btn:hover {
	background: #6fb926;
	color: #fff;
}


/* ------ Первый экран ------ */

.header {
	background: #2f2f43 url(../img/bg.jpg) no-repeat center top / cover;
	padding-top: 50px;
	padding-bottom: 60px;
	color: #fff;
	text-align: center;
}

.logo {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 0.18em;
	line-height: 1.2em;
	margin-right: 52px;


}

.logo-text {
	font-family: 'MuseoSansCyrl-100';
}

.logo-pretext {
	font-family: 'MuseoSansCyrl-900';

}


.menu {
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'MuseoSansCyrl-900';

}

.menu__item {
	margin-right: 45px;
	text-transform: uppercase;
	font-size: 15px;
}

.menu__link {
	text-decoration: none;
	color: #fff;
}

.post {
	font-size: 13px;
	font-family: 'MuseoSansCyrl-300';
	color: #fff;

}

.post:hover {
	border-bottom: 1px solid #fff;

}


.offer {
	margin-top: 287px;
	margin-bottom: 258px;
	text-transform: uppercase;


}

.offer__title {
	font-family: 'Natasha';
	font-size: 49px;
		letter-spacing: 0.12em;
}

.offer__text {
	font-family: 'MuseoSansCyrl-100';
	font-size: 29px;
	margin-top: 20px;
		letter-spacing: 0.12em;

}

.down-arrow {
	border: 1px solid #fff;
	color: #fff;
	border: 1px solid #fff;
	color: #fff;
	width: 38px;
	border-radius: 50px;
	padding: 5px 0;
	height: 38px;
	display: block;
	margin: 0 auto;

}


/* ------ About ------ */

.me {

}

.wrapper {

}


.wrapper__background {
	width: 435px;
}

.wrapper__title {
	margin-bottom: 45px;
}

.wrapper__text {
	margin-bottom: 38px;

}

.wrapper__info {
	width: 445px;
}


.wrapper__number {
	width: 70px;
	height: 70px;
	border: 1px solid #3e6534;
	justify-content: center;
	align-items: center;
	display: flex;
	transform: rotate(45deg);
	margin-bottom: 25px;
	margin-left: 17px;
}

.wrapper__number:after {
	content: '';
	display: block;
	width: 60px;
	height: 60px;
	border: 1px solid #cddbc3;
	position: absolute;
}

.wrapper__item {
	width: 105px;
	position: relative;
/*	margin-right: 54px;*/

}


/*.wrapper__item:nth-child(3n) {
	margin-right: 0;
}*/


.wrapper__content {
	text-align: center;

}


.wrapper__connect {
	margin-top: 66px;
}


.wrapper__numb {
/*	position: absolute;*/
		transform: rotate(-45deg);
}



.wrapper__link-item a {
	font-size: 14px;
	font-family: 'MuseoSansCyrl-300';
	color: #204d15;
	border-bottom: 1px solid #becbbb;
}

.wrapper__fa {
	width: 250px;
	align-items: center;
}

.wrapper__icon {
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background: #eef1ed;
	text-align: center;
	font-size: 25px;
	padding: 20px 0;
	color: #204d15;
}


.wrapper__icon-text {
	font-size: 14px;
	color: #22241b;
	font-family: 'MuseoSansCyrl-300';
}

/* ------ skills ------ */

.list__number {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	font-size: 13px;
	font-family: 'MuseoSansCyrl-100';
	border: 1px solid #204d15;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-right: 27px;
}

.list__number:after {
	content: '';
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	border: 1px solid #bdc1bc;
	position: absolute;
}

.list__item {
	align-items: center;
}

.list__title {
	text-transform: uppercase;
	font-size: 15px;
	color: #22241b;
	font-family: 'MuseoSansCyrl-900';
}



/* ------ Portfolio ------ */

.works__items {
	width: 298px;
}

.works__wrap {
	position: relative;

}




.works__overlay {
background: rgba(0, 0, 0, 0.64);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all 0.5s ease;
}


.works__wrap:hover .works__overlay {
		opacity: 1;

}

.works__content {
	text-align: center;
}


.future {
	margin: 118px  0 108px;
}








/* ------ Media Queries ------ */





/* 992-1200px */
@media screen and (max-width: 1200px) {
	
}

/* 768-992px */
@media screen and (max-width: 992px) {
	.container {
		width: 700px;
	}

.wrapper__background {
	width: 100%
}

.wrapper__info {
	width: 100%;
	display: flex;
	align-items: center;
		flex-direction: column;
}

.wrapper {
	flex-direction: column;

}


.wrapper__merits {
	width: 50%
}

.wrapper__connect {
	width: 50%
}


	.works {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

h2, h3 {
	text-align: center;
}

/* 576-768px */
@media screen and (max-width: 768px) {
	.container {
		width: 520px;
	}

.list {
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.list__item  {
	width: 200px
}

.wrapper__text {
	padding: 0 20px;
}

.nav {
		flex-direction: column;
			align-items: center;
}

.menu {
	margin: 20px 0
}

.logo {
	margin: 0
}

.future__text {
	text-align: center;
}

/* 320-576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}

.wrapepr__material {
		display: flex;
		flex-direction: column;
	}

.wrapper__communications {
		display: flex;
		flex-direction: column;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 30px
}

.wrapper__item {
    margin-bottom: 25px;
}

.wrapper__link {
	margin-bottom: 30px
}

.list__item {
	margin-bottom: 25px
}

.wrapper__fa {
	display: block
}